[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[[source]]
url = "https://pypi.douban/simple"
verify_ssl = true
name = "douban"

[packages]
sklearn = "*"
pandas = "*"
lightgbm = "*"
psutil = "*"
librosa = "*"

[dev-packages]

[requires]
python_version = "3.9"
